*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
video,
canvas,
svg {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  background-color: transparent;
  background-image: none;
}
